{
  "presets": [
    ["@babel/preset-env", { "modules": false, "useBuiltIns": "entry" }],
    ["@babel/preset-react", { "development": true, "useBuiltIns": true }]
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }],
    "@babel/plugin-proposal-class-properties"
  ]
}
