@import '~react-image-crop/lib/ReactCrop.scss';

.antd-img-crop-modal {
  .ant-modal {
    .ant-modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      .ReactCrop__image {
        max-height: none;
      }
      .action {
        display: flex;
        align-items: center;
        width: 50%;
        margin-top: 16px;
        .label {
          margin-right: 16px;
          font-weight: 500;
        }
        .ant-slider {
          flex: 1;
          margin: 0;
        }
      }
    }
  }
}
